#banner{
	margin-top: 50px;
	position: relative;
}

#banner img{
	width: 100%;
	height: 100%;
}

#banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	text-align:center;
	/* cambio */
	background: rgba(1, 1, 1, 0.3);
	padding: 7px;
	border-radius: 25px;
	/* fin cambio */
}


#banner h2{
	font-size: 28px;
}

#banner a{
	width: 100px;
	display: block;
	color: #fff;
	padding: 7px;
	text-decoration: none;
	margin-top: 10px;
	border: 3px solid #fff;
}

#banner a:hover{
	background: rgba(51,51,51,0.5);
}

@media(min-width: 480px){
	#banner h2{
		font-size: 50px;
	}

	#banner a{
		margin-top: 25px;
	}
}


@media(min-width: 768px){
	#banner{
		height: 430px;
		overflow: hidden;
	}

	#banner img{
		height: auto;
		margin-top: -85px;
	}
}
