@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(menu.css);
@import url(banner.css);
@import url(candidatoInicio.css);
@import url(bannerCandidato.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background: #333;
	color: #fff;

	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
}

.contenedor{
	width: 98%
	margin:auto;
}

h1{
	float: left;
}

section{
	width: 100%;
	margin-bottom: 25px;
}

#bienvenidos{
	text-align: center;
}

footer .contenedor{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E9E9E9;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.copy{
	font-size: 20px;
}

.sociales{
	width: 100%;
	text-align:center;
	font-size: 28;
}

.sociales a{
	color: #333;
	text-decoration: none;
}


#radar .contenedor{
	flex-wrap: wrap;
	justify-content: center;
}


#banner .overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
}

#banner .modal {
     display: none;
     position: absolute;
     top: 25%;
     left: 25%;
     width: 50%;
     height: 50%;
     padding: 16px;
     background: #fff;
     color: #333;
     z-index:1002;
     overflow: auto;
}

#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
 
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}



button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}



button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #000;
}

.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.color-chart {
     width: 100px;
     height: 100px;
     border-right: 50px solid #d9534f;
     border-top: 50px solid #428bca;
     border-left: 50px solid #f0ad4e;
     border-bottom: 50px solid #5cb85c;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.rectangulo {
     width: 100px; 
     height: 10px; 
}

/* El logo de arriba a la izquierda */
a.logo:hover, a.logo:active, a.logo:link, a.logo:visited {
	color: #fff;
}
.logo {
	padding-top: 5px; padding-left: 5px;
}

#text-wrapper {
	text-align: justify;
	color: #333;
	width: 70%;
	margin: auto;
}

#text-wrapper p {
	float: right;
}

#circular-img {
	height: 246px;
	width: 246px;
	margin-right: 50px;
	margin-left: 50px;
}

#text-wrapper h2 {
	text-align: center;
	padding-bottom: 15px;
	font-weight: bold;
	color: #000;
}

#text-wrapper h3 {
	float: left;
	width: 53%;
	padding-top: 4%;
}

#text-wrapper-equipo  {
	float: left;
	padding-left: 15%;
}

#text-wrapper-equipo p {
	padding-top: 2%;
	float: left;
}

#text-wrapper-equipo ul {
	list-style-type: none;
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 50px;
}

#text-wrapper-equipo li {
	padding: 5px;
}

#text-wrapper-equipo ul {
	padding: 0px;
}
