{
	width:100%;
	padding: 1px 3px;;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family: Neue;
	font-weight: lighter;


body{
	background-color: #0b2027;
}




<span></span>