		<section>
			<div class="modal-wrapper" id="popup">
			    <div class="popup-contenedor">
			       <h2>ELECCIONES : PRIMARIAS PRESIDENCIALES</h2>
					<h3>A. CHILE VAMOS</h3>
					<p>1 SEBASTIAN PIÑERA ECHENIQUE INDEPENDIENTE</p>
					<p>2 FELIPE KAST SOMMERHOFF EVOPOLI</p>
					<p>3 MANUEL JOSE OSSANDON IRARRAZABAL INDEPENDIENTE</p>
					<h3>B. FRENTE AMPLIO</h3>
					<p>4 BEATRIZ SANCHEZ MUÑOZ INDEPENDIENTE</p>
					<p>5 ALBERTO MAYOL MIRANDA  </p></p>
			       <a class="popup-cerrar" href="#">X</a>
			    </div>
			</div>
		</section>